
<div class="main" >
	<div class="content">
		<center>
			<img alt="" src="img/logo-login.png">
		</center>
	</div>

 
	
	
	
	<form name="myForm" novalidate>
	<input type="hidden" name="fechaDesdeR" id="fechaDesdeR" /> 
	<input type="hidden" name="fechaHastaR" id="fechaHastaR" />
		<input type="hidden" name="cedula" id="cedula" /> <input
			type="hidden" name="cedulaFamiliar" id="cedulaFamiliar" />


		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 class="text-center login-title">BCV Encuesta Medicamentos
						Permanentes</h1>
					<h1 class="text-center login-title"></h1>


					<div class="shortcuts">
						<div class="row">
							<div class="col-sm-8 ">
								<p>
									<input name="fechaDesde" id="fechaDesde" type="checkbox"
										ng-click="defaultValuesNullDesdeCheck()"
										ng-model="estadisticasByModuloDto.swFeDesde"> Fecha
									Desde <em>{{estadisticasByModuloDto.feDesde |
										date:'dd/MM/yyyy' }}</em>
								</p>
								<p>
									<input name="fechaHasta" id="fechaHasta" type="checkbox"
										ng-click="defaultValuesNullHastaCheck()"
										ng-model="estadisticasByModuloDto.swFeHasta"> Fecha
									Hasta <em>{{estadisticasByModuloDto.feHasta|
										date:'dd/MM/yyyy' }}</em>
								</p>

								<div class="form-group"
									ng-show="estadisticasByModuloDto.swFeDesde">
									<div style="display: inline-block; min-height: 290px;">
									
   
										<div uib-datepicker ng-model="estadisticasByModuloDto.feDesde"
											ng-click="defaultValuesCheck();" class="well well-sm"
											datepicker-options="options"></div>
									</div>
									<hr />
									<button type="button" class="btn btn-sm btn-info"
										ng-click="today()">Hoy</button>
								</div>
								<div class="form-group"
									ng-show="estadisticasByModuloDto.swFeHasta">
									<div style="display: inline-block; min-height: 290px;">
										<div uib-datepicker ng-model="estadisticasByModuloDto.feHasta"
											ng-click="defaultValuesCheck();" class="well well-sm"
											datepicker-options="options"></div>
									</div>
									<hr />
									<button type="button" class="btn btn-sm btn-info"
										ng-click="today()">Hoy</button>
								</div>
							</div>
							<div class="col-sm-4 ">
								<button
									ng-click="generarReporteExcelByfecha()"
									class="btn btn-default"> 
									<input type="image" src="img/csv.gif" alt="download" />
								</button>

							</div>
						</div>

					</div>


					<div align="center">
						<div id="chartContainer"></div>
					</div>




					<div ng-show="showList">
						<div class="form-group">
							<h3 class="text-center login-title">Buscar Cedula</h3>
							<h5 class="text-center login-title">{{mensajeMedicDisponiblesOut}}</h5>

							<input ng-model="filtro" value="" class="form-control"
								dl-enter-key ng-keyup="buscarMedicamento(filtro)" />
						</div>


						<table class="table table-striped"
							ng-show="userEncuestaDto.benefMedicamentos.length>0">
							<thead>
								<tr>
									<th>#</th>
									<th>Nombre</th>
									<th>Tipo Empleado</th>

									<th>C&eacutedula del Trabajador</th>
									<th>C&eacute;dula del Familiar Calificado</th>
									<th>Correo</th>
									<th>Medicamentos</th>
								</tr>
							</thead>
							<tr ng-repeat="item in userEncuestaDto.benefMedicamentos">
								<td>{{$index + 1}}</td>
								<td>{{userEncuestaDto.nombre}}</td>
								<td>{{userEncuestaDto.tipoEmp}}</td>
								<td>{{item.nuCedula}}</td>
								<td>{{item.nuCedulaFamiliar}}</td>
								<td><a id="link-2" href=""
									ng-click="viewMail(item.nuCedula,item.nuCedulaFamiliar,item.txEmail)">{{item.txEmail}}</a></td>
								<td>
									<button ng-click="popup(item.parametroNominaDtos)"
										class="btn btn-default">Ver</button>
								</td>

								<td>

									<button
										ng-click="generarReporte(item.nuCedula,item.nuCedulaFamiliar)"
										class="btn btn-default">
										<input type="image" src="img/pdf.png" alt="download" />
									</button>
								</td>

							</tr>
						</table>

						<script type="text/ng-template" id="myModalContent.html">
										  <div class="modal-header">
											 <h3 class="modal-title">Importante!</h3>
										  </div>
      
										  <div class="modal-body">
											  <span class = "label label-danger">{{msg}}</span>
										  </div>

<table class="table">
													<thead>
														<tr>
															<th>#</th>
															<th>DESCRIPCI&Oacute;N</th>
															<th>FECHA</th>
														</tr>
													</thead>
													<tr
														ng-repeat="item in items">
														<td>{{$index + 1}}</td>
														<td>{{item.tx_parametro_nom}}</td>
														<td>{{item.feRegPagoStr}}</td>
													</tr>
												</table>
											 
           
       									   </div>
											<div class="modal-footer">
												  <!--Hacer una busqueda de myModalContentDelete.html, para encontrar donde esta programadon este modal. this buttom are in ModalInstanceCtrl-->
												<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
												<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
											</div>
							</script>
					</div>

					<div ng-hide="showList">
						<div ng-show="mailMsg">
							<div class="col-md-12">
								<div class="form-group">
									<div class="alert alert-success" align="center">
										<strong>{{mailMsg}}</strong>
									</div>
									<div class="col-md-12 center-block">
										<button class="text-center btn btn-default"
											ng-click="viewEncuesta()">Regresar</button>
									</div>
								</div>
							</div>


						</div>
						<div ng-hide="mailMsg" class="controls">

							<div class="row">


								<div class="col-md-6">
									<div class="form-group">
										<label for="form_name">Correo * </label> <input id="smtpUser"
											dl-enter-key type="email" name="smtpUser"
											class="form-control" ng-model="smtpUser"
											placeholder="Por favor, entre el correo *"
											required="required" data-error="Por favor, entre el correo.">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="form_lastname">Clave *</label> <input
											type="password" id="smtpPassword" ng-model="smtpPassword"
											name="smtpPassword" value="" placeholder="Password" required
											class="form-control" />
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="form_email">Para</label> <input id="form_email"
											type="email" name="email" class="form-control" value=""
											ng-model="to" placeholder="Please enter your email *"
											required="required" disabled="disabled"
											data-error="Valid email is required.">
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="form_message">Mensaje *</label>
										<textarea id="form_message" name="message"
											class="form-control" ng-model="message"
											placeholder="Message for me *" rows="4" required="required"
											data-error="Please,leave us a message."></textarea>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<button ng-click="viewEncuesta()" class="btn btn-default">
											Regresar</button>
										<button ng-disabled="!myForm.$valid" ng-click="enviarMail()"
											class="btn btn-primary">Enviar Correo</button>
											 <img id="mySpinner" src="./img/ai.gif" ng-show="loading" />
									</div>
								</div>

							</div>
						</div>


					</div>
				</div>
			</div>
		</div>

	</form>




	<!-- /account-container -->
</div>


